body {
  overflow: hidden
}
.text-div {
  animation: my-animation 15s linear infinite;
}

@keyframes my-animation {
  0% {
    -moz-transform: translateX(192%);
    -webkit-transform: translateX(192%);
    transform: translateX(192%);
  }
  100% {
    -moz-transform: translateX(-157%);
    -webkit-transform: translateX(-157%);
    transform: translateX(-157%);
  }
}